<!DOCTYPE html>
<html lang="en" ng-app="BeMEAN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="beMEAN.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <title>{{ User.nome }}</title>
</head>

<body ng-controller="UserController as User">
    <div class="row wrapper">
        <h1 ng-style="User.tituloStyle">{{ User.titulo }}</h1>
        <form action="post"></form>
        <label for="nome">
            <input type="text" ng-model="User.form.name" placeholder="Nome">
        </label>
        <label for="email">
            <input type="email" ng-model="User.form.email" placeholder="Email">
        </label>
        <label for="idade">
            <input type="text" ng-model="User.form.idade" placeholder="Idade">
        </label>
        </form>
        <button ng-hide="User.editing" type="submit" class="btn btn-large green waves-effect waves-light cols12" ng-click="User.addUser(User.form)">ADD USER</button>
        <button ng-show="User.editing" type="submit" class="btn btn-large animate blue waves-effect waves-light cols12" ng-click="User.save(User.form)">SAVE</button>

        <label><input ng-model="searchUser" placeholder="Busca"></label>

        <p>PREDICATE: {{ User.predicate }}</p>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="(key, value) in User.users[0]"> <a href="" ng-click="User.userOrderBy(key)">{{key}}</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{bold: !user.selecionado, strike:user.selecionado}" ng-repeat="user in User.users | filter:searchUser track by $index">
                    <td>
                        <input type="checkbox" name="delete" id="user-{{$index}}" ng-model="user.selecionado">
                        <label for="user-{{$index}}"></label>
                    </td>
                    <td ng-repeat="(key, value) in user">{{value}}</td>
                    </td>
                    <td><button ng-click="User.edit(user, $index)" class="btn blue waves-effect waves-light cols12" type="submit">EDIT</button></td>
                </tr>
            </tbody>
        </table>
        <button type="submit" name="action" ng-click="User.remove(User.users)" class="btn btn-large red waves-effect waves-light cols12">DELETE</button>

        <div>
            <div ng-controller="CourseController as Curso">
                <h2>{{Curso.titulo}}</h2>
                <label for="cursos"><input type="text" ng-model="searchCurso" placeholder="Busca"></label>
                <button ng-click="Curso.addCurso()" class="btn btn-large green waves-effect waves-light cols12">ADD CURSO</button>
                <ul>
                    <li ng-repeat="curso in Curso.cursos | orderBy:predicate | filter:searchCurso">
                        <span ng-repeat="(key, value) in curso">{{value}}<span>
                </li>
            </ul>
        </div>

        <div ng-controller="TeachersController as Teacher">
            <h2>{{ Teacher.titulo}}</h2>
            <label for="professor"><input type="text" ng-model="searchProfessor" placeholder="Busca"></label>
            <ul>
                <li ng-repeat="aula in Teacher.aulas | orderBy:predicate | filter:searchProfessor">

                    {{ aula.aula }} - {{ aula.horario }} - {{ aula.sala }}
                </li>
            </ul>
        </div>
    </div>

    <td>
            <button type="submit" name="action" ng-click="User.removeByEmail(user.email)" class="btn btn-large red waves-effect waves-light cols12">DELETE</button>
        </td>
    <script src="angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.js"></script>
    
    <script>
        angular.module("BeMEAN", ['ngAnimate'])
            .controller('UserController', UserController)
            .controller('CourseController', CourseController)
            .controller('TeachersController', TeachersController);

        function UserController() {
            var vm = this;
            vm.titulo = "Be MEAN";
            vm.editing = false;
            vm.tituloStyle = {
                "color": "#DDBB00",
                "font-size": "100px",
                "text-align": "center" }

            vm.users = [{
                name: "Kenneth",
                email: "kcolina@sistemas.ufla.br",
                idade: 21
            }, {
                name: "AKenneth Santos",
                email: "kenneth.santos@gt4w.com.br",
                idade: 19
            }, {
                name: "BKenneth Colina",
                email: "kennethcolina@gmail.com",
                idade: 23
            }];

            vm.addUser = function(user) {
                console.log('user', user);
                vm.users.push(user);
                vm.form = {};
           };

           vm.userOrderBy = function(th) {
                vm.predicate = th;
           }

           vm.removeSplice = function(users) {
               var selecionados = [];
               var removidos = 0;

               users.forEach(function(el, index) {
                    if(el.selecionado) selecionados.push(index);
               });

               var removidos = 0;

               selecionados.forEach(function(index) {
                   vm.users.splice(index - removidos++, 1);
               })
           } 

           vm.remove = function(users) {
               vm.users = users.filter((el) => { return !el.selecionado });
           }

           vm.edit = function(user, index) {
               vm.form = angular.copy(user);
               vm.form.index = index;
               vm.editing = true;
           }

           vm.save = function(user) {
                var users = vm.users.map(function(el, i) {
                    if(i === user.index) {
                        delete user.index;
                        console.log(user, "aqui");
                        return user;
                    }
                    return el;
                });         
                vm.users = users;
                vm.editing = false;
           }
        }

        function CourseController() {
            var vm = this;
            vm.titulo = "Be MEAN - CURSOS";
            vm.cursos = [{
                name: "NODE JS",
                teacher: "Kenneth Colina",
                carga: 20
            }, {
                name: "RAILS",
                teacher: "Kenneth Santos",
                carga: 15
            }, {
                name: "VUE.JS",
                teacher: "Matheus Ferreira",
                carga: 25
            }];

            vm.addCurso = function() {
                vm.cursos.push({name: "AngularJS", teacher: "Renan", carga: 30});
            };
        }

        function TeachersController() {
            var vm = this;
            var date = new Date("October 13, 2014 11:13:00");
            vm.titulo = "Professores";
            vm.aulas = [{
                aula: 1,
                horario: date,
                sala: "26"
            }, {
                aula: 2,
                horario: date,
                sala: "24"
            }, {
                aula: 3,
                horario: date,
                sala: "25"
            }];
        };
    </script>

</body>

</html>